.h-text {
  font-size: 3rem;
  color: #2b2d42;
}

@media only screen and (max-width: 576px) {
  .h-text {
    font-size: 2rem;
    color: #2b2d42;
    word-wrap: break-word;
  }
}

.parent-div {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
}

@media only screen and (max-width: 576px) {
  .parent-div {
    display: grid;
    grid-template-columns: auto;
    align-items: center;
    gap: 1rem;
  }
}

#doc-fig {
  place-self: end;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  gap: 10px;
}

@media only screen and (max-width: 576px) {
  .grid-container {
    display: grid;
    grid-template-columns: auto;
    gap: 10px;
    margin: 0 10px;
  }
}

h1 {
  font-size: 14px;
}

@media only screen and (max-width: 576px) {
  h1 {
    font-size: 10px;
  }
}

.class-desription {
  font-size: 10px;
  color: #aab0b2;
  line-height: 2;
}

.group-desc {
  display: flex;
  gap: 1rem;
  align-items: start;
}

.logo {
  display: inline;
  color: #04a6c2;
  padding-top: 4px;
  height: 2rem;
  width: 2rem;
}
