.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.brand-group {
  display: flex;
  align-items: center;
}

.brand {
  font-size: 2rem;
  color: #36b09f;
}

#brand-icon {
  height: 2rem;
  width: 2rem;
}

ul {
  font-size: 12px;
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 0 10px 0 10px;
  margin: 10px;
  font-weight: bold;
  color: #9ca69e;
  list-style-type: none;
}

ul > li:hover {
  color: #04a6c2;
}
