.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.brand-group {
  display: flex;
  align-items: center;
}

.brand {
  font-size: 2rem;
  color: #36b09f;
}

#brand-icon {
  height: 2rem;
  width: 2rem;
}

.general {
  font-size: 12px;
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 0 10px 0 10px;
  margin: 10px;
  font-weight: bold;
  color: #9ca69e;
  list-style-type: none;
}

.general > li:hover {
  color: #04a6c2;
}

.menu {
  display: none;
}

.hello {
  display: none;
}

@media only screen and (max-width: 578px) {
  .general {
    display: none;
  }

  .menu {
    display: block;
  }

  .hello {
    background-color: #fffafa;
    padding: 1rem;
    border-radius: 6px;
  }

  .toggle {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    font-size: 12px;
    padding: 0 10px 0 10px;
    margin: 10px;
    font-weight: bold;
    color: #9ca69e;
    list-style-type: none;
  }
  .toggle > li:hover {
    border: 1px solid black;
    border-radius: 6px;
    padding: 10px;
  }
}
